body {
  font-family: Helvetica;
}

.banner {
  background-position: center;
  background-size: cover;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: white;
  }
}


.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  width: 90%;
  margin: 0 auto;
}

.cards {
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}


.clicked {
  color: red;
}


.guillo {
  color: green;
  &:hover {
    color: red;
  }
}

.border {
  border: 1px solid black;
  font-size: 23px;
}

@media(max-width: 575px) {
  .guillo {
    display: none;
  }
}
